.nav {
	width: 100%;
	height: 5rem;
	display: flex;
	position: fixed;
	align-items: center;
	top: 0;
	z-index: 1;
	background: var(--navigation-bar-background);
	color: var(--navigation-bar-text);
}

.list {
	list-style: none;
	display: flex;
	align-items: center;

	> li {
		padding: 1.5rem;

		> a {
			color: inherit;
			font-size: 1.4rem;
			opacity: 0.7;
			white-space: nowrap;

			&:global(.active) {
				font-weight: bold;
				text-decoration: none;
				opacity: 0.9;
			}

			&:hover, &:focus, &:active {
				opacity: 1;
				text-decoration: underline;
			}

			// prevent padding changes when font weight changes
			&::after {
				display: block;
				height: 0;
				visibility: hidden;
				font-weight: bold;
				content: attr(title);
			}
		}
	}
}

.rightSide {
	margin-left: auto;
	margin-right: 1rem;
}

.logo {
	width: 94px;
	height: 32px;
	margin: 0 1.5rem;
	background-image: url("assets/logo-full.svg");
	background-repeat: no-repeat;
}

@media (max-width: 48rem) {
	.logo {
		width: 30px;
		height: 30px;
		background-image: url("assets/logo-icon.svg");
	}

	.nav {
		padding-left: 0;
	}
}

@media (max-width: 38rem) {
	.list {
		--collapsed: true;
	}

	.list > li:not(.more) {
		display: none;
	}
}
