.title {
	color: var(--tab-text-inactive);
	&:not(:last-child) {
		margin-right: 2rem;
	}

	&Active {
		color: var(--tab-text-active);
		box-shadow: inset 0 -1px var(--tab-divider-active);
	}
}

.titleLink {
	font-size: 1.4rem;
	display: inline-block;
	padding: 0.5rem 0;

	&:hover, &:focus, &:hover {
		text-decoration: none;
	}
}
