a, a:visited {
	color: var(--app-text);
	text-decoration: none;
}

a:hover, a:focus, a:active {
	color: var(--app-text-accent);
}

.container {
	width: 100%;
	display: flex;
	position: absolute;
	background: var(--app-background);
	color: var(--app-text);
	// account for navbar
	padding-top: 5rem;
	height: 100vh;
}

.page {
	display: flex;
	flex: 1;
}
