:global {

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	text-size-adjust: 100%;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.2rem;
}

a, a:visited, a:link {
	color: var(--global-link);
	text-decoration: none;
}

a:hover, a:focus, a:active {
	text-decoration: underline;
}

h3 {
	font-size: 2.4rem;
	line-height: 3rem;
	margin-bottom: 1rem;
	font-weight: 400;
}

.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

}
