:global {

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	color: #d3d3d3;
	font-size: 12px;
}

a:visited, a:link {
	color: inherit;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	text-decoration: underline;
}

}
