:global {

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.2rem;
}

a, a:visited, a:link {
	color: var(--global-link);
	text-decoration: none;
}

a:hover, a:focus, a:active {
	text-decoration: underline;
}

}
