.card {
	display: flex;
	width: 22rem;
	margin-right: -1.3rem;
	justify-content: flex-start;
	align-items: center;
	text-align: left;
	font-size: inherit;

	&::after {
		content: '';
		display: inline-block;
		border: transparent solid 6px;
		border-bottom-width: 0;
		border-top-color: white;
		transition: transform 120ms;
		margin: 0 1rem;
	}

	&.drawerOpen::after {
		transform: rotate(180deg);
	}
}

.info {
	max-width: 13.5rem;
	flex: 1 1 auto;
	flex-direction: column;
}

.presence {
	display: inline-block;
	width: 0.6rem;
	height: 0.6rem;
	margin-right: 0.2rem;
	vertical-align: middle;
	background: #898395;
}

.status {
	font-size: 0.9rem;
	opacity: 0.7;
}

.avatar {
	width: 2.75rem;
	height: 2.75rem;
	margin: 0 1rem;
}
