.card {
	display: flex;
	width: 24rem;
	justify-content: flex-start;
	align-items: center;
	text-align: left;
	font-size: inherit;

	&::after {
		content: '';
		display: inline-block;
		border: transparent solid 6px;
		border-bottom-width: 0;
		border-top-color: white;
		transition: transform 120ms;
		margin: 0 1rem;
	}

	&.drawerOpen::after {
		transform: rotate(180deg);
	}
}

.info {
	margin-top: -2px;
	max-width: 15rem;
	flex: 1 1 auto;
}

.displayName {
	font-size: 1.4rem;
}

.presence {
	display: inline-block;
	width: 0.7rem;
	height: 0.7rem;
	margin-right: 0.2rem;
	vertical-align: middle;
	background: #898395;
}

.presenceName {
	opacity: 0.8;
}

.status {
	font-size: 1.1rem;
}

.avatar {
	width: 3rem;
	height: 3rem;
	margin: 0 1rem;
}
