.list {
	list-style: none;
}

.item {
	display: flex;
	white-space: nowrap;

	&:hover, &:focus, &:active {
		background: var(--balloon-list-background-hover);

		a { color: inherit; }
	}

	a {
		flex: 1;
		padding: 0.5rem 1rem;
	}
}
