$footer-bg-color: #19171c;

.footer {
	width: 100%;
	height: 15.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $footer-bg-color;
	padding-top: 3rem;

	img {
		opacity: 0.2;
		margin-right: 2rem;
	}
}

.links {
	display: flex;
	flex-wrap: wrap;
	list-style: none;

	li {
		margin-right: 1rem;
	}
}

.notice {
	position: absolute;
	bottom: 1rem;
}
